a {
    text-decoration: none !important;
    color: black !important;
}
ul {
    list-style: none;
}
nav {
    padding: 15px 75px !important;
    background-color: rgb(255, 255, 255);
}
.menu-i {
    display: none;
}
.close-mobile {
    display: none;
}
.nav-menu {
    list-style: none;
    gap: 20px;
    margin-bottom: 0;
}
.dropdown:hover ul.menu-drop{
    display: block !important;
    background-color: white;
}
.dropdown:hover div.menu{
    display: block !important;
    background-color: white;
    position: absolute !important;
    left: -20% !important;
    top: 200% !important;
    transform: translateX(-20%) !important;
}
.menu {
    position: absolute !important;
    width: auto;
    left: -150% !important;
    top: 100% !important;
    background-color: rgb(240, 239, 239) !important;
}
.w-menu {
    width: 200px;
}
.w-menu ul li {
    padding: 4px 0 !important;
}
.img-collection {
    width: 200px;
}
nav ul a:hover {
    color: rgb(209, 29, 29) !important;
}
.active {
    color: rgb(240, 18, 18) !important;
}
.ic:hover {
    color: rgb(56, 159, 255);
}
.drop-down {
    position: relative;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border: none;
}
@media (max-width: 1280px){
    .menu-i {
        display: block;
    }
    nav {
        justify-content: space-between;
        padding: 15px !important;
    }
    div.n{
        display: none !important;
    }
}
@media (max-width: 650px) {
    .ic {
        display: none !important;
    }
}